
body {
  width:1366px;
  margin:auto;
}

form {
  width:95%;
  margin-left:20px;
}
form fieldset{
  margin-top:15px;
  width:30%;
  display:inline;
  vertical-align: top;
}

form label {
  display:block;
}

button {
  float:left;
  background-color: rgb(155, 200, 238);
  border-radius: 5px;
  padding:2px;
}

aside {
  margin-top:15px;
}
 aside .check-rad {
  display: inline-block;
  padding-right:10px;
}

aside h4 {
  margin:0;
}

textarea {
  width:100%;
  padding:0;
}

textarea:focus{
  outline: none;
  border:1px solid rgb(155, 200, 238);
  box-shadow: 0 0 10px rgb(155, 200, 238);
}
textarea:invalid{
  background-color: rgb(255, 255, 255);

}
textarea:valid{
  background-color: rgb(221, 255, 221);

}
input {
  padding:0;
  width:100%;
}

input:focus {
   outline: none;
   border:1px solid rgb(155, 200, 238);
   box-shadow: 0 0 10px rgb(155, 200, 238);
}

input:invalid{
  background-color: rgb(255, 255, 255);

}
input:valid {
  background-color: rgb(221, 255, 221);
}

select:invalid{
  background-color: rgb(255, 255, 255);

}
select:valid {
  background-color: rgb(221, 255, 221);
}
#number-levitate {
  width:3em;
}

#app-date {
  width:15em;
}

#password {
  width:15em;
}
