
body {

  margin:0;
}

form {
  width:95%;
  margin-left:20px;
}
form fieldset{
  margin-top:15px;
  width:30%;
  display:inline;
  vertical-align: top;
}

form label {
  display:block;
}



aside {
  margin-top:15px;
}
 aside .check-rad {
  display: inline-block;
  font-size:1.25em;

}

.check-rad input {
  width:auto;
  padding-right:1em;
}

aside h4 {
  margin:0;
}

textarea {
  width:100%;
  padding:0;
  border:1px solid rgb(00, 00, 00);
}

textarea:focus{
  outline: none;
  box-shadow: 0 0 10px rgb(155, 200, 238);
}
textarea:invalid{
  background-color: rgb(255, 255, 255);

}
textarea:valid{
  /*background-color: rgb(221, 255, 221);*/
  background-color: white;


}
select {
  padding:0;
  border:1px solid rgb(00, 00, 00);
}
input {
  border:1px solid rgb(00, 00, 00);
  width:100%;
}

.levitate {
  border:1px solid rgb(00, 00, 00);
}
.profile-pic {
  background-color: grey;
  width:auto;
  border:none;
}
input:focus {
   outline: none;
   border:1px solid rgb(155, 200, 238);
   box-shadow: 0 0 10px rgb(155, 200, 238);
}

input:invalid{
  background-color: rgb(255, 255, 255);
}

.res-sub input {
  display: inline;
  border-radius: 5px;
  padding:2px;
  background-color: lightblue;
  width:auto;
}


/*
input:valid {
  background-color: rgb(221, 255, 221);
}

select:invalid{
  background-color: rgb(255, 255, 255);
}

select:valid {
  background-color: rgb(221, 255, 221);
}
*/

#number-levitate {
  width:3em;
}

#app-date {
  width:15em;
}

#password {
  width:15em;
}
